html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #A1A46D;
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#unity-canvas {
  display: block;
  max-width: 100%;
  height: auto;
}
